.aboutUsContainer {
  margin-top: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--one);
  margin-bottom: 2rem;
}

.about__desc {
  max-width: 80%;
  font-size: 1rem;
  color: var(--one);
  letter-spacing: 0.1rem;
}

.about__image {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  margin-top: 2rem;
}

.about__quote {
  color: var(--one);
  margin-top: 6rem;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
  font-size: 3rem;
}

.founderContainer {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 2rem; */
}

.founder__img {
  width: 100%;
  height: 80%;
  /* max-height: 80%; */
  grid-column: span 1 / span 1;
  object-fit: cover;
  border-radius: 30px;
}

.founder__left,
.founder__right {
  transition: transform 0.5s ease;
}

.founder__left {
  height: fit-content;
}

.founder__right {
  display: block;
  background-color: var(--four);
  border-radius: 30px;
  /* max-height: 80%; */
}

.about__desc.founder__desc {
  text-align: left;
  margin-top: 1rem;
}

.founder__position {
  color: var(--one);
  opacity: 50%;
}
.founder__rightDiv {
  padding-top: 2rem;
  padding-left: 2rem;
}

.founderContainer:hover .founder__left {
  transform: translateY(-20px);
}

.founderContainer:hover .founder__right {
  transform: translateY(20px);
}

@media (max-width: 1300px) {
  .founderContainer {
    grid-template-columns: 1fr;
  }
  .founder__right {
    height: fit-content;
  }

  .about__desc {
    letter-spacing: 0rem;
  }

  .about__desc.founder__desc {
    padding-bottom: 2rem;
  }
}
