.carouselContainer {
  margin-top: 30rem;

  background-color: var(--two);
  border-radius: 30px;
}

.carouselDecoration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.carouselPageBreak {
  width: 100%;
  height: 2px;
  max-width: 100%;
  background-color: black;
  margin-bottom: 2rem;
}

.arrowCarouselDiv {
  padding-top: 0.3rem;
}

.carouselDecoration__left {
  display: flex;
  align-items: center;

  padding-left: 30px;
  padding-top: 20px;
}

.carouselDecoration__right {
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-top: 30px;
}

.carouselDecoration__text {
  font-size: 2rem;
  color: var(--one);
}

.carouselButton {
  font-weight: 600;
  font-size: 12px;
  padding: 4px 28px;
  border-radius: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.carousel {
  /* overflow: hidden; */
  padding-bottom: 3rem;
  overflow-y: hidden;
  transition: 200ms;
}

.carouselContainerForItems {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  transition: transform 0.5s ease;

  width: max-content;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  transform: translateX(-0px);
  gap: 20px;
  padding-left: 20px;
}

.carousel__item {
  position: relative; /* Establish a positioning context for absolute positioning */
  overflow: hidden;
  width: 500px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--one);

  border-radius: 40px;

  transition: transform 1s ease-in-out;
}

.carousel__itemImage {
  border-radius: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  opacity: 0.8;
  max-width: 100vw;

  scroll-snap-align: start;
}

.carousel__item::after {
  position: absolute;
  content: "";

  inset: 0;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0;
  border-radius: var(--rounded-lg);
  z-index: 1;

  transition: 100ms;
}

.carousel__item:hover::after {
  opacity: 0.3;
}

.carousel__itemText {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  max-width: 100%;
  width: fit-content;
  text-align: center;
  color: var(--two);
  font-weight: 600;
  opacity: 1;
  margin-bottom: 0.3rem;
}

.carouselButton {
  /* background-color: rebeccapurple; */
  height: 70px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselButton--img {
  width: 20px;
  /* height: 50px; */
}

@media (max-width: 1300px) {
  .carousel__item {
    width: 500px;
    height: 500px;
  }

  .carouselDecoration {
    margin-bottom: 0;
  }

  .carouselDecoration__text {
    font-size: 1rem;
  }
  .carouselDecoration__arrow {
    transform: scale(0.8);
  }

  .carouselButton {
    height: 50px;
    padding: 2px 14px;
    margin-bottom: 1rem;
  }

  .carouselButton--img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 500px) {
  .carousel__item {
    width: 300px;
    height: 300px;
  }

  .carouselDecoration__text {
    font-size: 0.8rem;
  }
  .carouselDecoration__arrow {
    transform: scale(0.6);
  }

  .carouselButton {
    height: 40px;
    padding: 1px 15px;
    margin-bottom: 1rem;
  }

  .carouselButton.next-button {
    margin-right: 2rem;
  }

  .carouselButton--img {
    width: 15px;
    height: 15px;
  }
}
