.pop-up-wrapper {
  position: absolute;
  width: 25rem;
  max-width: 100%;
  padding: 1rem 1.5rem;
  /* width: 300px;
    height: 250px; */
  border-radius: 15px;
  top: 5.3rem;
  right: 4.5rem;
  border: 1px solid hsl(223, 64%, 98%);
  background-color: white;
  -webkit-box-shadow: 2px 7px 47px -9px rgba(161, 152, 161, 0.42);
  -moz-box-shadow: 2px 7px 47px -9px rgba(161, 152, 161, 0.42);
  box-shadow: 2px 7px 47px -9px rgba(161, 152, 161, 0.42);

  z-index: 999;
}

.cart__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.cart_text {
  padding: 10px 0 25px 25px;
}

.pop-up {
  display: block;
}

.linebreak2 {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(128, 128, 128, 0.137);
}

.pop-up_content_empty {
  /* height: 95px;
    padding-top: 4rem; */
  display: grid;
  place-items: center;
}

.empty_text {
  color: hsl(219, 9%, 45%);
  padding: 5rem 0;
}

.pop-up-items-wrapper {
  display: none;
}

.linebreak {
  width: 100%;
  height: 0.4rem;
  background-color: rgba(128, 128, 128, 0.137);
  margin-top: 7rem;
}

.cartItem {
  text-align: center;
  position: absolute;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: rgb(255, 91, 91);
  font-size: 12px;
  color: white;
}

.checkout {
  width: 100%;
  max-width: 100%;
  padding: 1rem 0;
  border-radius: 10px;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1rem;
}

.company_name {
  font-size: 1rem;
  color: hsl(26, 100%, 55%);
  padding-bottom: 10px;
}

.product_name {
  font-size: 2.7rem;
  padding-bottom: 30px;
}

.description {
  font-size: 16px;
  color: hsl(219, 9%, 45%);
  padding-bottom: 20px;
}

.price_discount {
  display: flex;
  /* background-color: aqua; */
  width: 11rem;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  gap: 1rem;
}

.discount {
  display: flex;
  text-align: center;
  font-size: 1em;
  padding: 0.2rem 0.5rem;
}

.discount {
  color: hsl(26, 100%, 55%);
  background: hsla(26, 100%, 55%, 0.12);
  border-radius: 5px;
}

.before_price {
  padding-top: 10px;
  color: hsla(217, 9%, 45%, 0.461);
  text-decoration: line-through;
  padding-bottom: 30px;
}

.hero_button {
  display: flex;
  gap: 1rem;
}
