.carouselContainer {
  margin-top: 3rem !important;
}

.carouselDecoration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlistDecoration {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.playlistDecoration__showAll {
  font-size: 1.5rem;
  color: var(--two);
  cursor: pointer;
}

.playlistContainer {
  margin-top: 6rem;
}

.playlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.excess {
  display: inherit;
  /* grid-column: span 4 / span 4; */
}

.playlistDecoration__text,
.playlistDecoration__textMain {
  font-size: 4rem;
  color: var(--one);
}

.playlistPageBreak {
  width: 100%;
  height: 2px;
  max-width: 100%;
  background-color: black;
  margin-bottom: 2rem;
}

.playlist__itemImage {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.playlist__item {
  margin-top: 1rem;
  width: 400px;
  width: 400px;
  grid-column: span 1 / span 1;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}

/* .playlist__item::after {
  position: absolute;
  content: "";

  inset: 0;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0;
  border-radius: var(--rounded-lg);
  z-index: 1;

  transition: 100ms;
}

.playlist__item:hover::after {
  opacity: 0.3;
} */

.playlist__itemText,
.playlist__itemTextPlaylist {
  font-size: 1.5rem;
  color: var(--one);
}

.playlist__itemTextDesc,
.playlist__itemTextDescPlayist {
  font-size: 1rem;
  color: var(--two);
}

/* song */
.songContainer {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.playlist__itemSong {
  width: 300px !important;
  height: 300px !important;
  margin-top: 1rem;
}

.playlist__itemImageSong {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.playlistText {
  display: flex;
  /* justify-content: space-between; */
  align-items: end;
}

.playlist__itemDuration {
  font-size: 1rem;
  color: var(--one);
  margin-left: 8rem;
}

.excessSong {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: span 6 / span 6;
}

.songsTitle {
  text-align: center;
  font-size: 6rem;
  letter-spacing: 3rem;
  color: var(--one);
  margin-top: 6rem;
}

@media (max-width: 2200px) {
  .playlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .excessSong {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 6 / span 6;
  }
  .playlist__item {
    margin-top: 1rem;
    width: 400px;
    width: 400px;
    grid-column: span 1 / span 1;
  }
  .playlist__itemImageSong {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .songContainer {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1348px) {
  .playlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .excessSong {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 6 / span 6;
  }
  .playlist__item {
    margin-top: 1rem;
    width: 300px;
    width: 300px;
    grid-column: span 1 / span 1;
  }
  .playlist__itemImageSong {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .songContainer {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .playlist__itemImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .playlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .excessSong {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 6 / span 6;
  }
  .playlist__item {
    margin-top: 1rem;
    width: 50px;
    width: 50px;
    grid-column: span 1 / span 1;
  }
  .playlist__itemImageSong {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .songContainer {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .playlist__itemImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .playlistDecoration__text,
  .playlistDecoration__textMain {
    font-size: 1.5rem;
  }

  .playlistDecoration__showAll {
    font-size: 1rem;
  }

  .songsTitle {
    font-size: 4rem;
  }

  .playlist__itemText,
  .playlist__itemTextPlaylist {
    font-size: 1rem;
  }

  .playlist__itemTextDesc,
  .playlist__itemTextDescPlayist {
    font-size: 0.8rem;
  }
  .playlist__itemDuration {
    font-size: 0.8rem;
    margin-left: 2rem;
  }
}

@media (max-width: 360px) {
  .playlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .excessSong {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 6 / span 6;
  }
  .playlist__item {
    margin-top: 1rem;
    width: 50px;
    width: 50px;
    grid-column: span 1 / span 1;
  }
  .playlist__itemImageSong {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .songContainer {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .playlist__itemDuration {
    margin-left: 1rem;
  }
  .songsTitle {
    font-size: 2rem;
    letter-spacing: 1rem;
  }
}
