.decoration__imageLogin {
  position: relative;
  left: 1rem;
}

.loginRemember {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rebeccapurple; */
  width: 400px;
  max-width: 100%;
}

.login__ForgotPassword {
  font-size: 1rem;
  /* background-color: violet; */
  width: 11rem;
}

.submitButton--login {
  width: 100%;
  border-radius: 30px;
}

.login__Submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}

.login__noAccount {
  margin-top: 2rem;
}

.login__noAccount--Text {
  font-size: 1rem;
  color: #78726d;
  font-weight: 200;
}

.regisWrapper {
  padding: 10.6rem 0rem 0.5rem 0rem;
}

.copyright__text {
  margin-top: 12.5rem !important;
}

.login__invalid {
  background-color: #fdede6;
  border-radius: 15px;
}

.invalid__content {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.invalid__image {
  width: 15px;
  height: 15px;
}

.invalid__text {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  /* padding: 0.5rem 1rem; */
}

.submitButton--login {
  padding: 8px 20px;

  background-color: var(--one);
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  /* color: white;
  font-weight: 600;
  text-decoration: none; */
}

@media (max-width: 768px) {
  .item-1 {
    display: block;
  }

  .item-2 {
    display: none;
  }
  .regisWrapper {
    padding: 0;
  }
}
