:root {
  --one: #78726d;
  --two: #abd7c4;
  --three: #ddf8e8;
  --four: #faf9f6;
}

html {
  font-size: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
input,
textarea {
  font-size: 1rem; /* 1rem = 16px */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", "Space Mono";
  letter-spacing: 5%;
}

.logo {
  display: flex;
  align-items: center;
  max-width: fit-content;
  gap: 0.5rem;
  scale: 0.7;
  background-color: transparent;
}

.logo__image {
  background-color: transparent;
}

.logo__title {
  background-color: transparent;
}

.hidden {
  display: none !important;
}

.brighten {
  background-color: var(--two) !important;
}

.buttonOne {
  font-weight: 700;
  font-size: 16px;
  padding: 8px 28px;
  /* background-color: transparent; */
  border: 1px solid var(--one);
  border-radius: 10px;

  cursor: pointer;
}

.imageStringCartImage {
  width: 75px;
  height: 75px;
  object-fit: cover;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 1rem 0% !important;
  }

  .wrapperEverything {
    padding: 0rem 0%;
  }
}

/* Animations */
@keyframes arrowFade {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(10px, -10px);
    opacity: 0;
  }
  51% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes arrowFadeRight {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(10px, 0);
    opacity: 0;
  }
  51% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes leftToRightFade {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  70% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: rotate(350deg);
    opacity: 1;
  }
}

@keyframes rightToLeftFade {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  70% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: rotate(350deg);
    opacity: 1;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-25px); /* adjust as needed */
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(-10px);
  }
  85% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appears {
  to {
    opacity: 1;
  }
}

@keyframes curtainSidebar {
  0% {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    /* top: 4.1rem; */
    height: 20vh;
  }
  15% {
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    /* top: 0; */
    height: 80vh;
  }
  100% {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 100vh;
  }
}

@keyframes revealContent {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 100vh;
    opacity: 1;
  }
}

@keyframes curtainSidebarClosing {
  0% {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 100vh;
  }
  10% {
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    height: 80vh;
  }
  100% {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    height: 0vh;
  }
}

@keyframes revealContentClosing {
  0% {
    /* max-height: 100vh; */
    opacity: 1;
  }
  100% {
    /* max-height: 0; */
    opacity: 0;
  }
}

/* @keyframes footerLinkDisappear{
  
} */
