* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow";
}
.preloaderWrapper {
  background-color: #78726d;
  height: 100vh;
  display: inline-block;

  position: fixed;
  inset: 0;
  z-index: 200;
}
.curtainBox {
  width: 100px;
  height: 100px;
  background-color: aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 300;

  /* transform: scale(2);
    transition: transform 0.5s ease; */
}

@keyframes curtain {
  25% {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    top: 0;
  }

  35% {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    top: 0;
  }

  75% {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    /* transform: scale(1.5); */
    top: 0;
  }
  90% {
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    top: 0;
  }
  100% {
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    top: -40rem;
    /* background-color: black; */
  }
}

.curtainAnimation {
  animation: curtain 3s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes zoom {
  100% {
    transform: scale(2);
  }
}

.textWrapper {
  display: inline-block;
}

.textInWrapper {
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 300;

  color: white;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 3px;

  border-right: 5px solid;
  width: 100%;
  max-width: fit-content;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes fading {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.textWrapper__h3--Indo {
  animation: fadeIn 0.2s ease-in-out, typing 1.3s steps(40),
    cursor 0.4s step-end infinite alternate, fading 0.4s ease 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.textWrapper__h3--English {
  animation: fadeIn 0.2s ease-in-out 1.2s, typing 1.3s steps(40) 1.2s,
    cursor 0.4s step-end infinite alternate 1.2s, fading 0.4s ease 1.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.textWrapper__h3--Chinese {
  animation: fadeIn 0.2s ease-in-out 2.4s, typing 1.3s steps(40) 2.4s,
    cursor 0.4s step-end infinite alternate 2.4s, fading 0.4s ease 2.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.textWrapper__h3--Japanese {
  animation: fadeIn 0.2s ease-in-out 3.6s, typing 1.7s steps(40) 3.6s,
    cursor 0.4s step-end infinite alternate 3.6s, fading 0.4s ease 4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.textWrapper__h3--France {
  animation: fadeIn 0.2s ease-in-out 4.6s, typing 1.3s steps(40) 4.6s,
    cursor 0.4s step-end infinite alternate 4.6s, fading 0.4s ease 5.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.textWrapper__h3--Hawaii {
  animation: fadeIn 0.2s ease-in-out 5.8s, typing 1.7s steps(40) 5.8s,
    cursor 0.4s step-end infinite alternate 5.8s, fading 0.4s ease 6.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.textWrapper__h3--Welcome {
  font-size: 2rem;
  animation: fadeIn 2.5s ease-in-out 7s, fading 1.3s ease 9s;
  animation-fill-mode: forwards;
  opacity: 0;
  border: none;
  /* animation: fadeIn 3s ease 27s, fading 2s ease 31s; */
}
